// THEMES

$white: #f5f5f5;
$gray: rgb(155, 155, 155);
$black-r: 24;
$black-g: 32;
$black-b: 36;
$black: rgb($black-r, $black-g, $black-b);
$red: rgb(128, 0, 0);
$yellow: #fbef00;
$green: rgb(13, 155, 13);
$green-light: rgb(133, 224, 133);
$primary-color: #001d00;
$blue: rgb(0, 132, 255);
$blue-dark: rgb(3, 40, 139);
$blue-sky: #a2ddf6;
$link-color: #57bedd;
$disabled-color: #c0c0c0;
$disabled-color-emp: #4a4a4a;

// ASSETS

$company-logo: url('../img/logo.png');