html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: #f5f5f5; */
    background-image: url('../img/pmi_tower_2500x1500.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    

}

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    /* margin:  auto; */
    /* margin:  auto auto auto 290px ; */
    margin: auto 400px auto auto;
    /* background-color: #ccc; */
    color: #fff;
    background: rgba(17, 41, 25, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.20);
    border-radius: 25px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.btn-primary {
    background-color: #11371d;
    border: 1px solid #11371d;
}

.forgetlink {
    color: #fff;
}